@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
center,
u,
b,
i {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

:focus {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "";
}

input,
textarea {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  background-color: #000;
  height: 1px;
}

html,
body {
  height: 100vh;
}

body {
  background: url(../img/bg-1.png) no-repeat;
  background-size: 100% 100%;
}

header {
  height: 6.9444444444vh;
  background: url(../img/bg-header.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
header ul {
  height: 100%;
  display: inline-block;
}
header ul .ict-nav {
  float: left;
  display: inline-block;
  height: 4.9074074074vh;
  width: 7.65625vw;
  margin-top: 2.2222222222vh;
}
header ul .ict-nav a {
  line-height: 4.9074074074vh;
  font-family: "微软雅黑";
  font-weight: bold;
  font-size: 2.037037037vh;
  color: #8CA8A5;
  text-align: center;
  text-decoration: none;
}
header ul .ict-nav-0 {
  width: 30.2083333333vw;
  height: 100%;
  margin-top: 0;
  background: url(../img/bg-nav-0.png) no-repeat;
  background-size: 100% 100%;
}
header ul .ict-nav-1 {
  background: url(../img/bg-nav-1.png) no-repeat;
  background-size: 100% 100%;
}
header ul .ict-nav-2 {
  background: url(../img/bg-nav-2.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
}
header ul .ict-nav-1.active {
  background: url(../img/bg-nav-1-active.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 1.2962962963vh;
}
header ul .ict-nav-2.active {
  background: url(../img/bg-nav-2-active.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 1.2962962963vh;
}
header ul .wait {
  position: absolute;
  top: 0.462962963vh;
  right: 0.2604166667vw;
  display: inline-block;
  height: 2.3148148148vh;
  width: 1.3020833333vw;
  background: url(../img/bg-test.png) no-repeat;
  background-size: 100% 100%;
}

section {
  height: 93.0555555556vh;
  width: 100%;
  padding: 0.9259259259vh 0.78125vw;
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

.btn-close {
  position: absolute;
  display: block;
  width: 1.6666666667vw;
  height: 1.6666666667vw;
  background: url(../img/icon/icon-close.png);
  background-size: 100% 100%;
  top: 0.3125vw;
  right: 0.3125vw;
  z-index: 999;
  cursor: pointer;
}

html {
  -webkit-text-size-adjust: none;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  border-radius: 100%;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
}

.bgTop {
  z-index: 15;
  opacity: 0.5;
}

.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}

.bgBottom {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 60px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveMiddle {
  background-size: 50% 60px;
}

.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}

.waveBottom {
  background-size: 50% 60px;
}

.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

section {
  padding: 4.1666666667vh 1.5625vw 1.5625vw;
  box-sizing: border-box;
}
section .con-left-box {
  width: 39.0625vw;
}
section .con-right-box {
  width: 57.2916666667vw;
}
section article {
  box-sizing: border-box;
  float: left;
}
section article .cube-wapper {
  transform-style: preserve-3d;
  position: relative;
  width: 1.8229166667vw;
  height: 15.7407407407vh;
  transform: rotateX(-30deg) rotateY(45deg);
  display: inline-block;
  margin-right: 1.0416666667vw;
}
section article .cube-box {
  transform-style: preserve-3d;
  width: 20px;
  height: 120px;
  position: absolute;
  bottom: 0;
}
section article .cube {
  position: absolute;
  left: 0;
  top: 0;
}
section article .cube2 {
  width: 100%;
  height: 100%;
  /*background: green;*/
  background: rgba(95, 170, 193, 0.4);
  transform-origin: left top;
  transform: rotateY(-90deg);
}
section article .cube21 {
  width: 100%;
  height: 80%;
  background: #5FAAC1;
}
section article .cube4 {
  width: 100%;
  height: 100%;
  /*background: gray;*/
  background: rgba(112, 201, 229, 0.4);
  transform-origin: left top;
  transform: rotateY(-90deg);
  transform-origin: right top;
  transform: translateZ(20px);
}
section article .cube41 {
  width: 100%;
  height: 80%;
  /*background: gray;*/
  background: #70C9E5;
}
section article .cube5 {
  width: 100%;
  padding-top: 100%;
  background: rgba(119, 210, 255, 0.4);
  transform-origin: left top;
  transform: rotateX(90deg);
}
section article .cube51 {
  width: 100%;
  padding-top: 100%;
  background: #77D2FF;
  transform-origin: left top;
  transform: rotateX(90deg);
}
section article .con-top-right-2 .underheight {
  height: 0%;
}
section article .con-top-right-2 .undercubedata {
  position: absolute;
  top: 100%;
}
section article .con-top-right-2 .innerheight {
  height: 0%;
}
section article .con-top-right-2 .innercubedata {
  position: absolute;
  top: 100%;
}
section article.con-top-left-box div {
  float: left;
  position: relative;
  width: 9.1666666667vw;
  height: 20.3703703704vh;
  background-color: rgba(54, 140, 255, 0.1);
  border: 1px solid #368cff;
  margin-right: 1.5625vw;
  margin-left: 1.25vw;
  padding: 1.8518518519vh 0.78125vw;
  box-sizing: border-box;
}
section article.con-top-left-box div .con-top-left-title {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 1px;
  left: -1.25vw;
  width: 1.5625vw;
  height: 4.8148148148vh;
  line-height: 2.037037037vh;
  z-index: -1;
  background: url(../img/park-bg-top-1.png) no-repeat;
  background-size: 100% 100%;
  font-size: 1.1111111111vh;
  color: #fff;
  padding: 0.462962963vh 0.2604166667vw;
  -webkit-transform: scale(0.8);
}
section article.con-top-left-box div span {
  display: inline-block;
  font-size: 1.2962962963vh;
  color: #C6D8FF;
  width: 100%;
  padding-left: 0.5208333333vw;
}
section article.con-top-left-box div span em {
  font-size: 3.7037037037vh;
  margin-left: 0.2604166667vw;
}
section article.con-top-left-box div .con-top-left-1 {
  height: 4.2592592593vh;
  font-size: 1.8518518519vh;
  color: #C6D8FF;
  background: url(../img/park-bg-top-2.png) no-repeat 0.5208333333vw bottom;
}
section article.con-top-left-box div .con-top-left {
  padding-top: 1.3888888889vh;
  padding-bottom: 1.8518518519vh;
}
section article.con-top-left-box div .con-top-left em {
  color: #7BFFFF;
}
section article.con-top-left-box div .con-top-left-2 {
  border-bottom: 1px solid #2E3870;
}
section article.con-top-left-box div .con-top-left-3 em {
  color: #69F822;
}
section article.con-top-left-box div .con-top-twoin {
  padding-left: 0;
}
section article.con-top-left-box div .con-top-twoin .con-top-left {
  box-sizing: border-box;
  padding-top: 0.7407407407vh;
  padding-bottom: 0;
}
section article.con-top-left-box div .con-top-twoin .con-top-left em {
  font-size: 2.4074074074vh;
}
section article.con-top-left-box div .con-top-twoin .con-top-left-2 {
  box-sizing: border-box;
  padding-bottom: 0.9259259259vh;
}
section article.con-top-right-box {
  height: 20.3703703704vh;
}
section article.con-top-right-box div {
  float: left;
}
section article.con-top-right-box div:nth-child {
  height: 20.3703703704vh;
}
section article.con-top-right-box .con-top-right-1 {
  font-size: 1.4814814815vh;
  color: #C6D8FF;
  width: 15%;
}
section article.con-top-right-box .con-top-right-1 span {
  display: block;
  width: 8.3854166667vw;
  text-align: center;
}
section article.con-top-right-box .con-top-right-1 .boxdtai {
  width: 7.2916666667vw;
  height: 7.2916666667vw;
  float: left;
}
section article.con-top-right-box .con-top-right-1 .boxkuang2 {
  background: url(../img/c_bg6.png) center no-repeat;
  background-size: 100% 100%;
  width: 6.875vw;
  height: 6.875vw;
  float: left;
  position: absolute;
}
section article.con-top-right-box .con-top-right-1 .boxkuang3 {
  width: 4.6875vw;
  height: 4.6875vw;
  float: left;
  overflow: hidden;
  border-radius: 100%;
  margin: 2.2222222222vh 0 0 2.2222222222vh;
  position: relative;
}
section article.con-top-right-box .con-top-right-1 .boxkuang4 {
  width: 4.6875vw;
  height: 4.6875vw;
  float: left;
  color: #fff;
  text-align: center;
  font-size: 2.7777777778vh;
  position: absolute;
  margin: 2.2222222222vh 0 0 2.2222222222vh;
  line-height: 4.6875vw;
  z-index: 999;
}
section article.con-top-right-box .con-top-right-1 .boxkuang4 em {
  font-size: 1.4814814815vh;
}
section article.con-top-right-box .con-top-right-1 .boxdtai .boxhuan {
  border-radius: 100%;
  overflow: hidden;
}
section article.con-top-right-box .park-js-right {
  width: 85%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
section article.con-top-right-box .park-js-right .btn-next {
  position: absolute;
  display: block;
  width: 2.0833333333vw;
  height: 2.0833333333vw;
  background: url(../img/icon/icon-next.png) center center;
  background-size: 100% 100%;
  right: 0;
  top: 50%;
  margin-top: -1.0416666667vw;
  cursor: pointer;
}
section article.con-top-right-box .con-top-right-2 {
  margin-left: 1.5625vw;
  height: 100%;
}
section article.con-top-right-box .con-top-right-2 .top-right-b3 {
  width: 3.8541666667vw;
  margin-left: 2.0833333333vw;
  margin-right: 0.5208333333vw;
  text-align: center;
}
section article.con-top-right-box .con-top-right-2 .top-right-b3 img {
  display: block;
  width: 3.8541666667vw;
  height: 6.8518518519vh;
  margin-top: 3.7037037037vh;
  margin-bottom: 1.3888888889vh;
}
section article.con-top-right-box .con-top-right-2 .top-right-b3 em {
  font-size: 1.4814814815vh;
  color: #C6D8FF;
  white-space: nowrap;
}
section article.con-top-right-box .con-top-right-2 .top-right-tubiao {
  position: relative;
  width: 13.28125vw;
  background: url(../img/park-bg-top-4.png) no-repeat center bottom;
  background-size: contain;
  text-align: center;
}
section article.con-top-right-box .con-top-right-2 .top-right-tubiao span {
  font-size: 1.2962962963vh;
  color: #C6D8FF;
  display: inline-block;
  width: 1.5625vw;
}
section article.con-top-right-box .con-top-right-2 .top-right-tubiao span em {
  font-size: 2.5925925926vh;
  color: #F5FB00;
  margin-top: 1.3888888889vh;
  display: inline-block;
}
section article.con-top-right-box .con-top-right-2 .top-right-tubiao div {
  float: none;
}
section article.con-top-right-box .con-top-right-2 .top-right-tubiao .top-right-txt {
  position: absolute;
  top: 1.8518518519vh;
  width: 2.109375vw;
  line-height: 1.8518518519vh;
  -webkit-transform: scale(0.8);
}
section article.con-top-right-box .con-top-right-2 .top-right-tubiao .top-right-dimian {
  left: 0;
}
section article.con-top-right-box .con-top-right-2 .top-right-tubiao .top-right-dixia {
  right: 0;
}
section article.con-top-right-box .con-top-right-2 .top-right-tubiao .top-right-zhuxingtu {
  height: 17.1296296296vh;
}
section article.con-bottom-left-box h4 {
  font-size: 1.4814814815vh;
  color: #C6D8FF;
  margin-top: 3.2407407407vh;
}
section article.con-bottom-left-box .changeTitle {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-left: 14px;
}
section article.con-bottom-left-box .changeTitle li {
  float: left;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.6);
  margin-left: 6px;
  border-radius: 6px;
  cursor: pointer;
}
section article.con-bottom-left-box .changeTitle li.active {
  background: white;
}
section article.con-bottom-left-box .con-park-carcount {
  width: 10.15625vw;
  height: 4.6296296296vh;
  background: url(../img/park-bg-bottom-1.png) no-repeat;
  background-size: contain;
  float: left;
  margin: 3.7037037037vh 0 0.462962963vh 1.5625vw;
  text-align: center;
  line-height: 4.6296296296vh;
  font-size: 2.2222222222vh;
  color: #30C5FF;
  padding-left: 1.25vw;
  box-sizing: border-box;
}
section article.con-bottom-left-box .con-park-carcount span {
  float: left;
}
section article.con-bottom-left-box .con-park-carcount em {
  font-size: 1.2962962963vh;
  margin-left: 0.5208333333vw;
}
section article.con-bottom-left-box .con-park-carcount .con-park-carcount-info {
  display: block;
  width: 2.3958333333vw;
  font-size: 1.6666666667vh;
  color: #0ACCC6;
  margin-left: 0.9375vw;
  line-height: 2.3148148148vh;
  -webkit-transform: scale(0.8);
}
section article.con-bottom-left-box .con-park-carcount .ml_43 {
  margin-left: 2.2395833333vw;
}
section article.con-bottom-left-box .con-park-carinfo {
  float: left;
  width: 45%;
  height: 33.3333333333vh;
  margin-top: 1.8518518519vh;
  text-align: center;
  position: relative;
}
section article.con-bottom-left-box .con-park-carinfo h3 {
  width: 6.25vw;
  height: 2.7777777778vh;
  font-size: 1.4814814815vh;
  color: #C6D8FF;
  background: url(../img/canteen-bg8.png) no-repeat;
  background-size: 100% 100%;
  line-height: 2.7777777778vh;
  margin: 0 auto;
}
section article.con-bottom-left-box .con-park-carinfo .issue1-table {
  background-color: rgba(97, 70, 152, 0.1);
  width: 96%;
  height: 92%;
  box-sizing: border-box;
}
section article.con-bottom-left-box .con-park-carinfo .issue1-table table {
  width: 105%;
  -webkit-transform: scale(0.85);
  white-space: nowrap;
  margin-left: -0.8vw;
}
section article.con-bottom-left-box .con-park-carinfo .issue1-table table tr.datalist:hover {
  background: rgba(54, 140, 255, 0.2);
  border: 1px solid #368CFF;
  box-shadow: rgba(0, 0, 0, 0.3) 6.5px 6.5px 5px 5px;
}
section article.con-bottom-left-box .con-park-carinfo table {
  width: 100%;
  height: 100%;
  font-size: 1.1111111111vh;
  color: #C7CDE0;
}
section article.con-bottom-left-box .con-park-carinfo table tr th {
  color: #A6D8FF;
  font-size: 1.2962962963vh;
  font-weight: bolder;
  padding-bottom: 0.9259259259vh;
  text-align: center;
  vertical-align: middle;
}
section article.con-bottom-left-box .con-park-carinfo table tr td {
  line-height: 2.5925925926vh;
  text-align: center;
  vertical-align: middle;
}
section article.con-bottom-left-box .con-park-carcslist .issue1-table table {
  -webkit-transform: scale(0.85);
  white-space: nowrap;
}
section article.con-bottom-left-box .con-park-carcslist .issue1-table table tr th {
  font-size: 1.6666666667vh;
}
section article.con-bottom-left-box .con-park-carcslist .issue1-table table tr td {
  font-size: 1.6666666667vh;
  height: 5.3703703704vh;
}
section article.con-bottom-left-box .con-park-carwtchart .con-park-carchart,
section article.con-bottom-left-box .con-park-carcs .con-park-carchart {
  width: 96%;
  height: 92%;
  box-sizing: border-box;
}
section article.con-bottom-left-box .con-park-carwtchart .con-park-carchart table tr th,
section article.con-bottom-left-box .con-park-carwtchart .con-park-carchart table tr td,
section article.con-bottom-left-box .con-park-carcs .con-park-carchart table tr th,
section article.con-bottom-left-box .con-park-carcs .con-park-carchart table tr td {
  font-size: 1.8518518519vh;
}
section article.con-bottom-left-box .con-park-carwtchart table,
section article.con-bottom-left-box .con-park-carcs table {
  width: 100%;
}
section article.con-bottom-left-box .con-park-carwtchart table tr th,
section article.con-bottom-left-box .con-park-carwtchart table tr td,
section article.con-bottom-left-box .con-park-carcs table tr th,
section article.con-bottom-left-box .con-park-carcs table tr td {
  text-align: left;
  height: 100%;
  line-height: none;
  color: #95BBC1;
  -webkit-transform: scale(0.8);
  white-space: nowrap;
}
section article.con-bottom-left-box .con-park-carwtchart table tr th:first-of-type,
section article.con-bottom-left-box .con-park-carwtchart table tr td:first-of-type,
section article.con-bottom-left-box .con-park-carcs table tr th:first-of-type,
section article.con-bottom-left-box .con-park-carcs table tr td:first-of-type {
  width: 52%;
}
section article.con-bottom-left-box .con-park-carwtchart table tr,
section article.con-bottom-left-box .con-park-carcs table tr {
  height: 3.7037037037vh;
  border-collapse: separate;
  border-spacing: 0px 5px;
}
section article.con-bottom-left-box .con-park-carwtchart table tr .jindubg,
section article.con-bottom-left-box .con-park-carcs table tr .jindubg {
  width: 90%;
  height: 1.2037037037vh;
  border-radius: 1.2037037037vh;
  padding-top: 0.2777777778vh;
  padding-left: 0.2777777778vh;
  background: #11233D;
}
section article.con-bottom-left-box .con-park-carwtchart table tr .jindu,
section article.con-bottom-left-box .con-park-carcs table tr .jindu {
  width: 90%;
  height: 0.9259259259vh;
  border-radius: 0.9259259259vh;
  background: #008EE9;
}
section article.con-bottom-left-box .con-park-carwtchart table tr span,
section article.con-bottom-left-box .con-park-carcs table tr span {
  display: inline-block;
  vertical-align: middle;
}
section article.con-bottom-left-box .con-park-carwtchart table tr .picturebg,
section article.con-bottom-left-box .con-park-carcs table tr .picturebg {
  width: 1.875vw;
  height: 1.875vw;
  border-radius: 50%;
  background: #26486D;
  padding: 0.2604166667vw;
}
section article.con-bottom-left-box .con-park-carwtchart table tr .picture,
section article.con-bottom-left-box .con-park-carcs table tr .picture {
  width: 1.3541666667vw;
  height: 1.3541666667vw;
  border-radius: 50%;
  background: #65CCF8;
  padding: 0.2604166667vw;
  overflow: hidden;
}
section article.con-bottom-left-box .con-park-carwtchart table tr .picture img,
section article.con-bottom-left-box .con-park-carcs table tr .picture img {
  width: 1.9791666667vw;
  height: 2.6041666667vw;
  margin-left: -0.3125vw;
  margin-top: -0.3125vw;
}
section article.con-bottom-left-box .con-park-carwtchart table tr .pictureinfo,
section article.con-bottom-left-box .con-park-carcs table tr .pictureinfo {
  display: inline-block;
  margin-left: 0.3125vw;
  height: 3.7037037037vh;
  padding-top: 0.9259259259vh;
}
section article.con-bottom-left-box .con-park-carwtchart table tr .pictureinfo em,
section article.con-bottom-left-box .con-park-carcs table tr .pictureinfo em {
  color: #00E7E9;
}
section article.con-bottom-left-box .con-park-carwtchart table tr td.active .picturebg,
section article.con-bottom-left-box .con-park-carcs table tr td.active .picturebg {
  background: #701F56;
}
section article.con-bottom-left-box .con-park-carwtchart table tr td.active .picture,
section article.con-bottom-left-box .con-park-carcs table tr td.active .picture {
  background: #B12D5E;
}
section article.con-bottom-left-box .con-park-carwtchart table tr td.active .pictureinfo,
section article.con-bottom-left-box .con-park-carcs table tr td.active .pictureinfo {
  background: url(../img/park-bg-wtinfo.png) no-repeat;
  background-size: 100% 100%;
  color: #FFDBE0;
}
section article.con-bottom-left-box .con-park-carwtchart table tr td.active .pictureinfo em,
section article.con-bottom-left-box .con-park-carcs table tr td.active .pictureinfo em {
  color: #FF2D4B;
}
section article.con-bottom-left-box .con-park-carcs table tr td .jindu {
  background: #CE752C;
}
section article.con-bottom-left-box .con-park-carcs table tr td .picturebg {
  background: #4C4823;
}
section article.con-bottom-left-box .con-park-carcs table tr td .picture {
  background: #C49A30;
}
section article.con-bottom-left-box .con-park-carwtinfo .carinfo-table,
section article.con-bottom-left-box .con-park-carcsinfo .carinfo-table {
  background-color: rgba(97, 70, 152, 0.1);
  width: 96%;
  height: 92%;
  padding-top: 1.3888888889vh;
  box-sizing: border-box;
}
section article.con-bottom-left-box .con-park-carwtinfo .tablec1,
section article.con-bottom-left-box .con-park-carcsinfo .tablec1 {
  width: 100%;
  height: 43%;
  float: left;
}
section article.con-bottom-left-box .con-park-carwtinfo .tablec1 table,
section article.con-bottom-left-box .con-park-carcsinfo .tablec1 table {
  width: 100%;
  color: #fff;
  font-size: 1.2962962963vh;
}
section article.con-bottom-left-box .con-park-carwtinfo .tablec1 table tr th,
section article.con-bottom-left-box .con-park-carwtinfo .tablec1 table tr td,
section article.con-bottom-left-box .con-park-carcsinfo .tablec1 table tr th,
section article.con-bottom-left-box .con-park-carcsinfo .tablec1 table tr td {
  color: #fff;
  width: 42%;
  margin-bottom: 5px;
  font-size: 1.8518518519vh;
  -webkit-transform: scale(0.7);
  white-space: nowrap;
}
section article.con-bottom-left-box .con-park-carwtinfo .tablec1 table tr th:first-of-type,
section article.con-bottom-left-box .con-park-carwtinfo .tablec1 table tr td:first-of-type,
section article.con-bottom-left-box .con-park-carcsinfo .tablec1 table tr th:first-of-type,
section article.con-bottom-left-box .con-park-carcsinfo .tablec1 table tr td:first-of-type {
  width: 58%;
  margin-left: -1vw;
}
section article.con-bottom-left-box .con-park-carwtinfo .tablec1 table tr th,
section article.con-bottom-left-box .con-park-carcsinfo .tablec1 table tr th {
  float: left;
  height: 1.8518518519vh;
  width: 42%;
  line-height: 1.8518518519vh;
}
section article.con-bottom-left-box .con-park-carwtinfo .tablec1 table tr td,
section article.con-bottom-left-box .con-park-carcsinfo .tablec1 table tr td {
  float: left;
  height: 1.8518518519vh;
  width: 42%;
  text-align: left;
}
section article.con-bottom-left-box .con-park-carwtinfo .tablec1 table tr .tablet1,
section article.con-bottom-left-box .con-park-carcsinfo .tablec1 table tr .tablet1 {
  font-size: 1.8518518519vh;
  float: left;
}
section article.con-bottom-left-box .con-park-carwtinfo .tablec1 table tr .tablet2,
section article.con-bottom-left-box .con-park-carcsinfo .tablec1 table tr .tablet2 {
  color: #c7cde0;
  text-align: right;
  float: right;
  margin-right: 2em;
}
section article.con-bottom-left-box .con-park-carwtinfo .tablec1 table tr th i,
section article.con-bottom-left-box .con-park-carcsinfo .tablec1 table tr th i {
  display: inline-block;
  height: 3.7037037037vh;
  width: 100%;
  color: #a7d7ff;
  line-height: 3.7037037037vh;
  font-style: normal;
  text-align: right;
  padding-right: 0.6vw;
  box-sizing: border-box;
}
section article.con-bottom-left-box .con-park-carwtinfo .tablec1 table tr th .tableic1,
section article.con-bottom-left-box .con-park-carcsinfo .tablec1 table tr th .tableic1 {
  background: url(../img/park-bg-bottom-5.png) right top no-repeat;
  background-size: 100% 100%;
}
section article.con-bottom-left-box .con-park-carwtinfo .tablec1 table tr th .tableic2,
section article.con-bottom-left-box .con-park-carcsinfo .tablec1 table tr th .tableic2 {
  background: url(../img/park-bg-bottom-3.png) right top no-repeat;
  background-size: 100% 100%;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 {
  width: 100%;
  height: 42%;
  float: left;
  overflow: hidden;
  position: relative;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 .stimg,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 .stimg {
  width: 80%;
  height: 100%;
  padding: 10px;
  background: rgba(54, 140, 255, 0.1);
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 .stimg img,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 .stimg img {
  width: 100%;
  height: 100%;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 .stimg a,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 .stimg a {
  background: url(../img/park-bg-bottom-10.png) center no-repeat;
  width: 17px;
  height: 20px;
  position: absolute;
  right: 4%;
  bottom: 10px;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul {
  padding: 0;
  height: 122%;
  margin: 0;
  list-style-type: none;
  overflow: scroll;
  width: 100%;
  float: left;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul li:first-of-type,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul li:first-of-type {
  background: url(../img/park-bg-bottom-8.png) top left no-repeat;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul li:first-of-type p,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul li:first-of-type p {
  font-size: 1.8518518519vh;
  color: #fff;
  margin-top: 0;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul li,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul li {
  background: url(../img/park-bg-bottom-9.png) top left no-repeat;
  width: 100%;
  height: 4.4444444444vh;
  text-align: left;
  -webkit-transform: scale(0.75);
  white-space: nowrap;
  margin-left: -1vw;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul li p,
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul li span,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul li p,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul li span {
  margin-left: 10%;
  width: 90%;
  float: left;
  color: #cecece;
  font-size: 1.6666666667vh;
  height: 2.4074074074vh;
  line-height: 2.4074074074vh;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul li p,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul li p {
  margin-top: 0.1851851852vh;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul li p i,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul li p i {
  width: 0.8333333333vw;
  height: 2.2222222222vh;
  margin-left: 5px;
  display: inline-block;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul li p .tul1_i1,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul li p .tul1_i1 {
  background: url(../img/park-bottom-icon1.png) center no-repeat;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul li p .tul1_i2,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul li p .tul1_i2 {
  background: url(../img/park-bottom-icon2.png) center no-repeat;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul::-webkit-scrollbar,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul::-webkit-scrollbar {
  width: 0.5208333333vw;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul::-webkit-scrollbar-track,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul::-webkit-scrollbar-track {
  background: #2097b2;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul::-webkit-scrollbar-track-piece,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul::-webkit-scrollbar-track-piece {
  background: #a1c6dc;
  width: 0.5208333333vw;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul::-webkit-scrollbar-thumb,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul::-webkit-scrollbar-thumb {
  background: #62b8d8;
  width: 6px;
  margin: 0 2px;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul::-webkit-scrollbar-corner,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul::-webkit-scrollbar-corner {
  background: #2097b2;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul1 ul::-webkit-resizer,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 ul::-webkit-resizer {
  background: #2097b2;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul2,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul2 {
  width: 100%;
  float: left;
  margin-top: 1vh;
}
section article.con-bottom-left-box .con-park-carwtinfo .topbox_tul2 a,
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul2 a {
  float: right;
  background: url(../img/park-bg-bottom-4.png) center no-repeat;
  background-size: 100% 100%;
  line-height: 2.7777777778vh;
  font-size: 1.2962962963vh;
  width: 3.5416666667vw;
  height: 2.7777777778vh;
  text-align: center;
  color: #61c6e9;
  margin-left: 1.8518518519vh;
  text-decoration: none;
  margin-right: 0.5vw;
}
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 {
  -webkit-transform: scale(0.7);
  height: 49%;
  margin-top: -1vh;
  margin-bottom: -1vh;
}
section article.con-bottom-left-box .con-park-carcsinfo .topbox_tul1 .stimg {
  float: right;
  width: 55%;
}
section .searchbox {
  float: right;
}
section .searchbox .searchipt {
  float: left;
  width: 20.8333333333vw;
  height: 4.6296296296vh;
  background: rgba(132, 156, 255, 0.2);
  border: 0;
  color: #A3C7FF;
  font-size: 1.4814814815vh;
  padding-left: 1.0416666667vw;
}
section .searchbox .searchbtn {
  display: block;
  float: left;
  width: 3.125vw;
  height: 4.6296296296vh;
  background: rgba(139, 198, 195, 0.2);
  border-left: 1px solid #0B8BD1;
  text-align: center;
  cursor: pointer;
}
section .searchbox .searchbtn .searchicon {
  display: inline-block;
  width: 1.5625vw;
  height: 2.0833333333vw;
  background: url(../img/icon/icon-searchbtn.png) center no-repeat;
  background-size: 90% 90%;
  vertical-align: middle;
}
section .con-right-box .trail {
  position: absolute;
  left: 70%;
  top: 10%;
  width: 18.2291666667vw;
  height: 37.037037037vh;
  background-color: rgba(23, 26, 54, 0.8);
}
section .con-right-box .trail .title {
  height: 3.7037037037vh;
  background: url(../img/park-bg-bottom-20.png) no-repeat;
  background-position: center;
  text-align: center;
}
section .con-right-box .trail .title h3 {
  color: white;
  padding-top: 3%;
}
section .con-right-box .trail .table {
  height: 29.2592592593vh;
}
section .con-right-box .trail .table table,
section .con-right-box .trail .table th,
section .con-right-box .trail .table td {
  color: white;
}
section .con-right-box .trail .table table {
  width: 100%;
  margin-bottom: 0.462962963vh;
}
section .con-right-box .trail .table .trailTableList {
  height: 20.3703703704vh;
  display: block;
  overflow-y: scroll;
}
section .con-right-box .trail .table .trailTableList tr {
  width: 100%;
}
section .con-right-box .trail .table .trailTableList .datalist:hover {
  border: 1px solid #368cff;
  background: rgba(54, 140, 255, 0.1);
}
section .con-right-box .trail .table th {
  color: #a6d8ff;
}
section .con-right-box .trail .table th,
section .con-right-box .trail .table td {
  height: 3.7037037037vh;
  text-align: center;
  vertical-align: middle;
  padding: 0.2777777778vh;
  font-size: 1.3888888889vh;
}
section .con-right-box .trail .table.table1 {
  height: 6.4814814815vh;
}
section .con-right-box .trail .table.table1 td {
  height: 2.3148148148vh;
}
section .con-right-box .trail .table.table1 .tableic1 {
  display: inline-block;
  height: 3.7037037037vh;
  width: 90%;
  color: #a7d7ff;
  line-height: 3.7037037037vh;
  font-style: normal;
  text-align: right;
  padding-right: 0.6vw;
  box-sizing: border-box;
  background: url(../img/park-bg-bottom-21.png) right top no-repeat;
  background-size: 100% 100%;
}
section .con-right-box .detail {
  position: absolute;
  left: 68%;
  top: 80%;
  width: 25vw;
  height: 32.4074074074vh;
  background-color: rgba(23, 26, 54, 0.8);
  margin-left: -25vw;
  margin-top: -15.7407407407vh;
  overflow: hidden;
}
section .con-right-box .detail .video {
  height: 90%;
}
section .con-right-box .detail .video img {
  display: block;
  width: 70%;
  margin: 0 auto;
}
section .con-right-box .detail .title {
  height: 3.7037037037vh;
  background: url(../img/park-bg-bottom-20.png) no-repeat;
  background-position: center;
  text-align: center;
}
section .con-right-box .detail .title h3 {
  color: white;
  padding-top: 2%;
}
section .con-right-box .detail .videoImage .table {
  height: 4.6296296296vh;
}
section .con-right-box .detail .videoImage .table table,
section .con-right-box .detail .videoImage .table th,
section .con-right-box .detail .videoImage .table td {
  color: white;
}
section .con-right-box .detail .videoImage .table table {
  width: 100%;
  margin-bottom: 0.462962963vh;
}
section .con-right-box .detail .videoImage .table th,
section .con-right-box .detail .videoImage .table td {
  height: 3.7037037037vh;
  text-align: center;
  vertical-align: middle;
  padding: 0.2777777778vh;
  font-size: 1.3888888889vh;
}
section .con-right-box .detail .videoImage img {
  display: block;
  width: 70%;
  margin: 0 auto;
}
section .con-right-box .detail .videoImage video {
  display: block;
  width: 70%;
  margin: 0 auto;
}
section .con-right-box .detail .image {
  position: absolute;
  top: 8.3333333333vh;
  left: 10.4166666667vw;
  float: right;
  width: 55%;
  height: 20.8333333333vh;
  margin-bottom: 0.9259259259vh;
  margin-right: 1.5625vw;
}
section .con-right-box .detail .image h3 {
  display: inline-block;
  color: #a8adba;
}
section .con-right-box .detail .image img {
  width: 100%;
}
section .con-right-box .detail .plate {
  margin-top: 3%;
  margin-left: 35%;
  height: 2.7777777778vh;
  width: 4.6875vw;
  background: url(../img/park-bg-bottom-21.png) no-repeat;
  background-size: 100% 100%;
}
section .con-right-box .detail .plate span {
  display: block;
  color: #a6d8ff;
  text-align: center;
  line-height: 2.7777777778vh;
  font-size: 1.3888888889vh;
}
section .con-right-box .detail .text {
  padding-left: 0.9375vw;
  padding-top: 1.6666666667vh;
  height: 12.962962963vh;
  color: white;
}
section .con-right-box .detail .text p {
  width: 50%;
  line-height: 2.3148148148vh;
  margin-top: 1.8518518519vh;
  font-size: 1.3888888889vh;
}
section .con-right-box ::-webkit-scrollbar {
  width: 0.2604166667vw;
}
section .con-right-box ::-webkit-scrollbar-track {
  border-radius: 0.9259259259vh;
  background-color: #4d5e69;
}
section .con-right-box ::-webkit-scrollbar-thumb {
  border-radius: 0.9259259259vh;
  background-color: #4393af;
}
